{% extends 'forms/base_widget.html' %}

{%- macro edit_link(contrib) -%}
    {% if contrib is instanceof SubContribution %}
        <a href="#" class="icon-edit edit-link"
           title="{% trans %}Edit this subcontribution{% endtrans %}"
           data-href="{{ url_for('contributions.manage_edit_subcontrib', contrib) }}"
           data-title="{% trans title=contrib.title %}Edit subcontribution '{{ title }}'{% endtrans %}"
           data-ajax-dialog></a>
    {% else %}
        <a href="#" class="icon-edit edit-link"
           title="{% trans %}Edit this contribution{% endtrans %}"
           data-href="{{ url_for('contributions.manage_update_contrib', contrib) }}"
           data-title="{% trans title=contrib.title %}Edit contribution '{{ title }}'{% endtrans %}"
           data-ajax-dialog></a>
    {% endif %}
{%- endmacro -%}

{% block html %}
    <div class="av-contribution-list">
        {% for subfield in field %}
            <div class="i-checkbox">
                {{ subfield() }}
                {{ subfield.label }}
                {{ edit_link(field._contributions[subfield.data]) }}
            </div>
        {% endfor %}
        {% for contrib, line in field._disabled_contributions %}
            <div class="i-checkbox">
                <input type="checkbox" disabled>
                <label>{{ line }}</label>
                {{ edit_link(contrib) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
