{%- macro contrib_line(contrib) -%}
    {{ contrib.start_dt | format_date() }}, {{ contrib.start_dt | format_time() }}
    -
    {{ contrib.duration | format_timedelta }}
    {% if custom_room %}(in {{ custom_room }}){% endif %}
    -
    {{ contrib.title }}
    {% if caller %}{{ caller() }}{% endif %}
    {% if not capable %}
        <i class="icon-warning warningText"
           title="{% trans %}This room does not have Webcast/Recording equipment.{%- endtrans %}"></i>
    {% endif %}
{%- endmacro -%}

{% if is_subcontrib %}
    {%- call contrib_line(contrib.contribution) %}
        - {{ contrib.title }}
    {% endcall -%}
{% else %}
    {{ contrib_line(contrib) }}
{% endif %}
