{% from 'audiovisual:_webcast_card.html' import webcast_card %}

<div class="event-details-row">
    <div class="event-details-label align-top">{% trans %}Webcast{% endtrans %}</div>
    <div class="event-details-content">
        {{ webcast_card(url, planned_start_dt=event.start_dt, tzinfo=event.display_tzinfo,
                        is_recording_planned=is_recording_planned, state_url=state_url,
                        recording_url=recording_url, recording_thumbnail_url=recording_thumbnail_url,
                        inner_recording_count=inner_recording_count) }}
    </div>
</div>
