{% extends 'overview/base.html' %}
{% block title %}Webcast/Recording{% endblock %}

{% macro result_group_title(key) %}
    {{ key | format_human_date(format='full') | title }}
{% endmacro %}

{% macro result_group_entries(items) %}
    <tr class="result-group-header">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="title">
                {% trans %}Event{% endtrans %}
            </div>
        </td>
        {% if form.granularity.data == 'talks' %}
            <td>
                <div class="title">
                    {% trans %}Talk{% endtrans %}
                </div>
            </td>
        {% endif %}
    </tr>
    {% for req, obj, start_time in items %}
        {{ request_entry(req, obj, start_time) }}
    {% endfor %}
{% endmacro %}

{% macro request_entry(req, obj, start_time) %}
    <tr class="result-group-entry">
        <td class="entry-time">
            <a class="discreet-link" href="{{ url_for('requests.event_requests_details', req) }}">
                {{ start_time | format_time('HH:mm') }}
            </a>
        </td>
        <td class="request-state">
            {% if req.state.name == 'accepted' %}
                {% set icon = 'icon-checkmark' %}
            {% elif req.state.name == 'rejected' %}
                {% set icon = 'icon-disable' %}
            {% else %}
                {% set icon = 'icon-time' %}
            {% endif %}
            <i class="{{ icon }}" title="{{ req.state.title }}"></i>
        </td>
        <td class="entry-type">
            <i class="icon-broadcast{% if 'webcast' in req.data['services'] %} requested{% endif %}"
               title="{% trans %}Webcast{% endtrans %}
                      {% if 'webcast' in req.data['services'] %}{% trans %}requested{% endtrans %}
                      {% else %}{% trans %}not requested{% endtrans %}{% endif %}"></i>
            <i class="icon-camera {% if 'recording' in req.data['services'] %} requested{% endif %}"
               title="{% trans %}Recording{% endtrans %}
                      {% if 'recording' in req.data['services'] %}{% trans %}requested{% endtrans %}
                      {% else %}{% trans %}not requested{% endtrans %}{% endif %}"></i>
        </td>
        <td class="entry-location">
            <span class="room">
                {{ obj.room_name }}
            </span>
            <span class="location">
                ({{ obj.venue_name }})
            </span>
        </td>
        <td class="request-event">
            <a class="discreet-link" href="{{ url_for('event.conferenceDisplay', req.event_new) }}">
                {{ req.event_new.title }}
            </a>
        </td>
        {% if form.granularity.data == 'talks' %}
            <td class="request-talk">
                {{ obj.title }}
            </td>
        {% endif %}
    </tr>
{% endmacro %}
