<div class="av-contribution-list">
    {% for subfield in field %}
        <div class="i-checkbox">
            {{ subfield() }}
            {{ subfield.label }}
            <a href="{{ url_for('event_mgmt.contributionModification', field._contributions[subfield.data]) }}"
               class="icon-edit edit-link" title="{% trans %}Edit this contribution{% endtrans %}"></a>
        </div>
    {% endfor %}
    {% for contrib, line in field._disabled_contributions %}
        <div class="i-checkbox">
            <input type="checkbox" disabled>
            <label>{{ line }}</label>
            <a href="{{ url_for('event_mgmt.contributionModification', contrib) }}" class="icon-edit edit-link"
               title="{% trans %}Edit this contribution{% endtrans %}"></a>
        </div>
    {% endfor %}
</div>
