{% extends 'events/requests/event_request_details.html' %}
{% from 'message_box.html' import message_box %}
{% set num_capable_contributions, num_contributions = definition.util.count_capable_contributions(event) %}
{% set num_not_capable_contributions = num_contributions - num_capable_contributions %}


{% block content %}
    {% if not num_contributions %}
        <div class="i-form">
            {% call message_box('warning') %}
                {% trans -%}
                    This event does not have any contributions, so there's nothing that could be
                    recorded or webcast. Please add some contributions first.
                {%- endtrans %}
            {% endcall %}
        </div>
    {% elif not num_capable_contributions %}
        <div class="i-form">
            {% call message_box('warning') %}
                <p>
                    {% trans -%}
                        This event has no contributions in rooms capable of webcast or recording.
                        Please choose (and book!) a room which has the necessary equipment.
                    {%- endtrans %}
                </p>

                <p>
                    <strong>The following rooms support webcast/recording equipment:</strong>
                </p>
                <ul>
                    {% for room in definition.util.get_av_capable_rooms()|natsort(attribute='full_name') -%}
                        <li><a href="{{ url_for('event_mgmt.rooms_room_details', event, room) }}">{{ room.full_name }}</a></li>
                    {% endfor %}
                </ul>
            {% endcall %}
        </div>
    {% endif %}
    {% if (num_contributions and (num_capable_contributions or is_manager)) or (req and req.state.name != 'withdrawn') %}
        {{ super() }}
    {% else %}
        <a href="{{ url_for('.event_requests', event) }}" class="i-button big">{% trans %}Back{% endtrans %}</a>
    {% endif %}
{% endblock %}


{% block warnings %}
    {{ super() }}
    {%- if req and req.state.name == 'accepted' and 'recording' in req.data.services -%}
        {% call message_box('warning') %}
            <p>
                {%- trans url=url_for('agreements.event_agreements_details', event, definition='cern-speaker-release') -%}
                    Please note that all speakers are required to sign the <a href="{{ url }}"><em>Speaker Release Form</em></a>
                    before the recording can be published!
                {%- endtrans -%}
            </p>
        {% endcall %}
    {% endif %}
    {% if definition.util.event_has_empty_sessions(event) %}
        {% call message_box('warning') %}
            <p>
                {%- trans -%}
                    Your event has some sessions which do not contain any contributions.
                    Please note that only contributions can be webcast or recorded.
                {%- endtrans -%}
            </p>
        {% endcall %}
    {% endif %}
    {% if num_not_capable_contributions %}
        {% call message_box('warning') %}
            <p>
                {%- trans count=num_not_capable_contributions -%}
                    There is a contribution in a room which does not have webcast/recording equipment.
                    This contribution will not be webcast/recorded.
                {%- pluralize -%}
                    There are {{ count }} contributions in rooms which do not have webcast/recording equipment.
                    These contributions will not be webcast/recorded.
                {%- endtrans -%}
            </p>
        {% endcall %}
    {% endif %}
{% endblock %}


{% block scripts %}
    <script>
        $('input[name="request-services"][value="webcast"]').on('change', function() {
            $('#form-group-request-webcast_audience').toggle(this.checked);
        }).trigger('change');

        $('#request-all_contributions').on('change', function() {
            $('#form-group-request-contributions').toggle(!this.checked);
        }).trigger('change');
    </script>
{% endblock %}
