{% extends 'events/requests/event_request_details.html' %}
{% from 'message_box.html' import message_box %}
{% set has_any_contributions = definition.util.has_any_contributions(event) %}
{% set has_capable_contributions = has_any_contributions and definition.util.has_capable_contributions(event) %}


{% block content %}
    {% if not has_any_contributions %}
        <div class="i-form">
            {% call message_box('warning') %}
                {% trans -%}
                    This event does not have any contributions, so there's nothing that could be
                    recorded or webcast. Please add some contributions first.
                {%- endtrans %}
            {% endcall %}
        </div>
    {% elif not has_capable_contributions %}
        <div class="i-form">
            {% call message_box('warning') %}
                <p>
                    {% trans -%}
                        This event has no contributions in rooms capable of webcast or recording.
                        Please choose (and book!) a room which has the necessary equipment.
                    {%- endtrans %}
                </p>

                <p>
                    <strong>The following rooms support webcast/recording equipment:</strong>
                </p>
                <ul>
                    {% for room in definition.util.get_av_capable_rooms()|natsort(attribute='full_name') -%}
                        <li><a href="{{ url_for('event_mgmt.rooms_room_details', event, room) }}">{{ room.full_name }}</a></li>
                    {% endfor %}
                </ul>
            {% endcall %}
        </div>
    {% endif %}
    {% if (has_any_contributions and (has_capable_contributions or is_manager)) or (req and req.state.name != 'withdrawn') %}
        {{ super() }}
    {% else %}
        <a href="{{ url_for('.event_requests', event) }}" class="i-button big">{% trans %}Back{% endtrans %}</a>
    {% endif %}
{% endblock %}


{% block warnings %}
    {{ super() }}
    {%- if req and req.state.name == 'accepted' -%}
        {% call message_box('warning') %}
            <p>
                {%- trans -%}
                    Please note that all speakers are required to sign the <em>Speaker Release Form</em> before the
                    webcast or recording can be published!
                {%- endtrans -%}
            </p>
        {% endcall %}
    {% endif %}
{% endblock %}


{% block scripts %}
    <script>
        $('input[name="request-services"][value="webcast"]').on('change', function() {
            $('#form-group-request-webcast_audience').toggle(this.checked);
        }).trigger('change');

        $('#request-all_contributions').on('change', function() {
            $('#form-group-request-contributions').toggle(!this.checked);
        }).trigger('change');
    </script>
{% endblock %}
