<div class="group">
    <a href="#" class="i-button js-ravem-button"
       data-room-name="{{ room.getName() }}"
       data-vc-room-name="{{ vc_room.name }}"
       data-status-url="{{ url_for_plugin('ravem.room_status', event_vc_room.event, event_vc_room_id=event_vc_room.id) }}"
       data-connect-url="{{ url_for_plugin('ravem.connect_room', event_vc_room.event, event_vc_room_id=event_vc_room.id) }}"
       data-disconnect-url="{{ url_for_plugin('ravem.disconnect_room', event_vc_room.event, event_vc_room_id=event_vc_room.id) }}">
    </a>
</div>
