{% macro get_subject() -%}
    Action required: Access to the CERN site for {event_title}
{%- endmacro %}

{% macro get_html_body() -%}
    <p>Dear {first_name} {last_name},</p>
    <p>
        The organizers of the event "{event_title}" have requested access to the CERN premises for you
        for the period: {access_period:en}.<br>
        In order to grant you access to the site, we need you to provide some personal information in
        {form_link:this form} that our Host States authorities require for security reasons.
    </p>
    <p>
        In accordance with CERN’s data privacy policy, this data will be deleted from our database as soon as it is
        not required anymore.
    </p>
    {% if regform.ticket_on_email %}
        <p>
            Upon reception of this data, you will receive an automatic email, with your access ticket in PDF format and
            an access code.
        </p>
    {% endif %}
    <p>
        Please note that no access to the CERN site will be granted without complying with this formality.
    </p>
    <p>
        If you already have a CERN access card which will be valid on the day of the event please ignore this
        email as you do not need to request specific access for this event.
    </p>
    <p>
        We look forward to welcoming you at CERN.
    </p>

    <hr>

    <p>Chère/Cher {first_name} {last_name},</p>
    <p>
        Les organisateurs de l'événement "{event_title}" ont demandé pour vous un accès au domaine du CERN
        pour la période: {access_period:fr}.<br>
        Afin de vous accorder cet accès, nous avons besoin de certaines informations personnelles que vous pourrez
        remplir sur {form_link:ce formulaire}, et qui sont demandées par les autorités de nos pays hôtes
        pour des raisons de sécurité.
    </p>
    <p>
        En accord avec la politique du CERN en matière de confidentialité des données, ces informations seront effacées
        de notre base de données aussitôt qu’elles ne seront plus nécessaires.
    </p>
    {% if regform.ticket_on_email %}
        <p>
            Dès réception de ces données, vous recevrez un mail automatique contenant votre carte d’accès au format PDF
            ainsi que votre code d’accès.
        </p>
    {% endif %}
    <p>
        Aucun accès au site du CERN ne sera autorisé si cette formalité n’est pas remplie.
    </p>
    <p>
        Si vous possédez déjà une carte d'accès au CERN qui sera valide le jour de l'événement, merci d'ignorer ce
        courriel car vous n'avez pas besoin de demander un accès spécifique pour cet événement.
    </p>
    <p>
        Nous nous réjouissons de vous accueillir prochainement au CERN.
    </p>
{%- endmacro %}
