{% extends 'room_assistance:emails/base_email_to_assistance.html' %}

{% block header_recipient %}Conference Rooms Service{% endblock %}

{% block subject_text -%}
    New room assistance request
{%- endblock %}

{% block body -%}
    <p>
        {{ requested_by.full_name }} requested assistance to setup {{ event.room.full_name }} before the start of the event.
    </p>
    <div>
        <strong>Event:</strong> <a href="{{ event.external_url }}">{{ event.title }}</a><br>
        <strong>Reason for requesting assistance:</strong> {{ request_data.reason }}<br>
        <strong>When:</strong>
        <ul>
            {% for dt in request_data.occurrences -%}
                <li>{{ dt|format_datetime }}</li>
            {%- endfor %}
        </ul>
    </div>
{%- endblock %}
