{% extends 'room_assistance:emails/base_email_to_assistance.html' %}

{% block header_recipient %}Conference Rooms Service{% endblock %}

{% block subject_text -%}
    Room assistance request has been modified
{%- endblock %}

{% block body -%}
    <p>Startup assistance for the event {{ event.title }} has been modified.</p>

    <div>
        {% if changes.occurrences -%}
            <strong>In what follows you can find an updated list of days for which the assistance has been requested.</strong>
            <ul>
                {% for dt in changes.occurrences -%}
                    <li>{{ dt|format_datetime }}</li>
                {%- endfor %}
            </ul>
        {%- endif %}
        {% if changes.reason -%}
            <strong>Reason:</strong> {{ changes.reason.old }} → {{ changes.reason.new }}<br>
        {%- endif %}
    </div>
{%- endblock %}
