{% extends 'emails/base.html' %}

{% block subject %}Indico events requiring *startup* support for today{% endblock %}

{% block header_recipient %}Support Team{% endblock %}

{% block body -%}
    <p>Please find below the Indico events requiring *startup* support for today:</p>

    <ul>
        {% for request in requests %}
            <li>
                <div>Event: {{ request.event.title }}</div>
                <div>Room: {{ request.event.room.full_name }}</div>
                <div>When: {{ parse_dt(request.data.start_dt)|format_datetime(timezone=indico_config.DEFAULT_TIMEZONE) }}</div>
            </li>
            <br>
        {% else %}
            <li>No events</li>
        {% endfor %}
    </ul>
{%- endblock %}
