{% extends 'room_assistance:emails/base_email_to_assistance.html' %}

{% block header_recipient %}Conference Rooms Service{% endblock %}

{% block subject_text -%}
    Room assistance request has been withdrawn
{%- endblock %}

{% block body -%}
    Startup assistance for the event {{ event.title }} on the following days is not needed anymore.<br>

    <ul>
        {% for occ in request_data.occurrences %}
            <li>{{ occ|format_datetime }}</li>
        {% endfor %}
    </ul>
{%- endblock %}
