{% extends 'emails/base.html' %}
{% from 'cronjobs_cern:_lists.html' import render_reservation_list %}

{% block subject %}Indico events requiring *startup* support for today{% endblock %}

{% block header_recipient %}Support Team{% endblock %}

{% block body -%}
    <p>Please find below the Indico events requiring *startup* support for today:</p>

    <ul>
        {% if reservations_by_room %}
            {% for room, reservations in reservations_by_room.iteritems() %}
                <li>
                    <span>{{ room.name }}</span>
                    {{ render_reservation_list(reservations) }}
                </li>
            {% endfor %}
        {% else %}
            <li>No events</li>
        {% endif %}
    </ul>
{%- endblock %}
