@import 'base/palette';

$lcc-dark-red: #660922;
$header-bg-color: $light-gray;
$header-icon-color: $lcc-dark-red;
$header-text-color: $black;

@import 'themes/indico';

@include header-logo('/static/plugins/themes_lcagenda/lcc_logo.png', 50px 35px);
