@import 'base/palette';

$header-bg-color: #0084be;
$header-icon-color: #f0f0f0;
$header-text-color: #f0f0f0;

@import 'themes/indico';

div.event-header {
  background-image: url('themes_cern:council_banner.png');
  background-size: cover;
}

.timetable-block > .timetable-item-body:first-of-type {
  // Restores left overflow to cope with the margin-left applied below
  overflow: visible;
}

// Make top level items bigger and non-bold
.timetable-item-body .timetable-item-header {
  .timetable-title.top-level,
  .timetable-title.break {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
  }
}

// This just makes nested breaks look like top-level ones.
.timetable-time.break.nested {
  border: 0;
  margin-right: 0;

  .start-time {
    background-color: $tt-primary-color;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    margin-left: calc(-1em - 10px);
    padding: 0 10px 0 20px;
    position: relative;

    @include ribbon($tt-secondary-color);
  }
}

.timetable-item .timetable-time.nested .start-time {
  min-width: 1.2em;
}
