@use 'base/palette' as *;

$header-bg-color: #dedede;
$header-icon-color: $light-black;
$header-text-color: $black;

@import 'themes/indico';

@include header-logo('themes_cern:eurocircol_logo.png', 26px 33px, 230px, 17%);
