@use 'base/palette' as *;

$header-bg-color: #dedede;
$header-icon-color: $light-black;
$header-text-color: $black;

@import 'themes/indico';

@include header-logo('themes_cern:fast_logo.png', 28px 29px, 250px, 20%);
