@import 'base/palette';

$header-bg-color: #dedede;
$header-icon-color: $light-black;
$header-text-color: $black;

@import 'themes/indico';

@include header-logo('themes_cern:fcc_logo.png', 15px 60px, 230px, 20%);
