@use 'base/palette' as *;

$header-bg-color: #fff;
$header-icon-color: $gray;
$header-text-color: $black;

@import 'themes/indico';

@include header-logo('themes_cern:ilc_logo.png', 25px 35px, 220px);
