@use 'base/palette' as *;

$header-bg-color: #fff;
$header-icon-color: $gray;
$header-text-color: $black;

@import 'themes/indico';

@include header-logo('themes_cern:intelum_logo.png', 25px 50px, 250px, 20%);
