body {
  background: white;
}

p,
br,
dl,
strong,
em,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
ol,
ul,
a {
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  color: #000000;
}

pre {
  font-family: helvetica, verdana, sans-serif;
  color: #000;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

td {
  font-family: Verdana;
  font-size: medium;
  color: #000;
  text-align: left;
}

.eventInfo {
  font-family: Verdana;
  font-size: large;
  text-align: center;
}

table.event-wrapper {
  width: 750px;
  margin-top: 0;
  margin-bottom: 0;
}

table.eventHeader {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  padding: 0;
}

table.dayList {
  width: 100%;
  border: 0;
  border-spacing: 5px;
}

.textTitle {
  font-family: helvetica, verdana, sans-serif;
  font-size: 12px;
  font-style: italic;
}

.sessionTitle {
  font-weight: bold;
}

.itemTime {
  font-size: medium;
}

.participantText {
  font-family: helvetica, verdana, sans-serif;
  font-size: 12px;
  text-align: left;
}

.descriptionText {
  font-family: helvetica, verdana, sans-serif;
  font-size: 12px;
  text-align: left;
}

.subItemText {
  font-size: medium;
  font-family: Verdana;
}

.reportNumberHeader {
  text-align: right;
  font-size: 12px;
  font-family: Verdana;
}

.eventHeader {
  font-family: Verdana;
  font-size: x-large;
  text-align: center;
}

.CERNTitle {
  font-family: Arial;
  font-size: xx-large;
}

td.itemLeftAlign {
  text-align: left;
}

td.itemRightAlign {
  text-align: right;
}

td.itemHeaderDate {
  font-family: Verdana;
  font-size: medium;
  font-style: italic;
  text-align: left;
}

td.itemHeaderDocuments {
  font-family: Verdana;
  font-size: medium;
  text-align: right;
  text-decoration: underline;
}

td.sessionInfo {
  font-family: Verdana;
  font-size: large;
}

td.breakInfo {
  font-family: Verdana;
  font-size: medium;
  text-align: center;
}

td.itemTopAlign {
  vertical-align: top;
}

td.subItemOrder {
  font-size: 12px;
  font-family: Verdana;
}

.subItemText {
  font-size: 12px;
  font-family: Verdana;
}
