@use 'base/palette' as *;

$header-bg-color: #15266c;

@import 'themes/indico';

div.event-header {
  background: url('themes_cern:ngt_logo.png'), url('themes_cern:ngt_background.png');
  background-size: 10%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 15px, 0;
  padding-left: 125px;
}
