@import 'base/palette';

$header-bg-color: #fff;
$header-icon-color: $gray;
$header-text-color: #555588;

@import 'themes/indico';

@include header-logo('themes_cern:picosec_endotofpet_banner.png', 0 0, 200px);

.event-header h1 {
    max-width: 600px;
}
