@use 'base/palette' as *;

$header-bg-color: #2e3842;
$header-icon-color: $light-black;
$header-text-color: $light-gray;

@import 'themes/indico';

@include header-logo('themes_cern:rucio_logo.png', 15px, 200px, 10%);

.event-header .details {
  [class^='icon-']::before,
  [class*=' icon-']::before {
    color: $light-gray;
  }
}
