@import 'base/palette';

$header-bg-color: #fff;
$header-icon-color: $light-black;
$header-text-color: #558;

@import 'themes/indico';

@include header-logo('themes_cern:tical_logo.png', 0 0, 200px, 230px);
