Select a CERN YellowPay payment method to proceed with your payment.

{# TODO: Add select with payment methods #}

<dl class="i-data-list">
    <dt>First name</dt>
    <dd>{{ registrant.getFirstName() }}</dd>
    <dt>Last name</dt>
    <dd>{{ registrant.getFamilyName() }}</dd>
    <dt>Total amount</dt>
    <dd>{{ amount }} {{ currency }}</dd>
    <dt></dt>
    <dd>
        <form action="{{ settings.payment_url }}" method="POST" id="cernyellowpay">
        {# TODO: Complete form #}
        <!--<input type="hidden" name="ACCEPTURL" id="ACCEPTURL" value="">
            <input type="hidden" name="AMOUNT" id="AMOUNT" value="{{ amount }}">
            <input type="hidden" name="BACKURL" id="BACKURL" value="">
            <input type="hidden" name="BRAND" id="BRAND" value="">
            <input type="hidden" name="CANCELURL" id="CANCELURL" value="">
            <input type="hidden" name="CN" id="CN" value="">
            <input type="hidden" name="CURRENCY" id="CURRENCY" value="{{ currency }}">
            <input type="hidden" name="DECLINEURL" id="DECLINEURL" value="">
            <input type="hidden" name="EMAIL" id="EMAIL" value="">
            <input type="hidden" name="EXCEPTIONURL" id="EXCEPTIONURL" value="">
            <input type="hidden" name="HOMEURL" id="HOMEURL" value="">
            <input type="hidden" name="LANGUAGE" id="LANGUAGE" value="">
            <input type="hidden" name="ORDERID" id="ORDERID" value="">
            <input type="hidden" name="OWNERADDRESS" id="OWNERADDRESS" value="">
            <input type="hidden" name="OWNERCTY" id="OWNERCTY" value="">
            <input type="hidden" name="OWNERTELNO" id="OWNERTELNO" value="">
            <input type="hidden" name="OWNERTOWN" id="OWNERTOWN" value="">
            <input type="hidden" name="PARAMVAR" id="PARAMVAR" value="">
            <input type="hidden" name="PM" id="PM" value="">
            <input type="hidden" name="PSPID" id="PSPID" value="">
            <input type="hidden" name="TP" id="TP" value=""> -->
            {% if event_settings.apply_fees %}
                <input type="hidden" name="SHASIGN" id="SHASIGN" value="">
            {% endif %}
            <input class="i-button highlight" type="submit" name="submit" value="Pay now">
        </form>
    </dd>
</dl>
