Select a PostFinance payment method to proceed with your payment.

<dl class="i-data-list">
    <dt>{% trans %}First name{% endtrans %}</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>{% trans %}Last name{% endtrans %}</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>{% trans %}Pay using{% endtrans %}</dt>
    <dd>
        <select id="postfinance-method">
            <option value="">{% trans %}Please choose an option{% endtrans %}</option>
            {% for method in postfinance_methods %}
                <option value="{{ method.name }}" {%- if method.name == selected_method %} selected{% endif %}>
                    {{ method.title }}
                </option>
            {% endfor %}
        </select>
    </dd>
    {% if event_settings.apply_fees %}
        <dt>{% trans %}Extra fee{% endtrans %}</dt>
        <dd>
            {% if fee is not none %}
                {{ format_currency(fee, currency, locale=session.lang) }}
            {% else %}
                {% trans %}n/a{% endtrans %}
            {% endif %}
        </dd>
    {% endif %}
    <dt>{% trans %}Total amount{% endtrans %}</dt>
    <dd>
        {% if amount is not none %}
            <strong>{{ format_currency(amount, currency, locale=session.lang) }}</strong>
        {% else %}
            {% trans %}n/a{% endtrans %}
        {% endif %}
    </dd>
    <dt></dt>
    <dd>
        <form action="{{ settings.payment_url }}" method="POST">
            {% for name, value in form_data | dictsort -%}
                <input type="hidden" name="{{ name }}" value="{{ value }}">
            {% endfor %}
            <input class="i-button highlight" type="submit" name="submit" value="Pay now" {%- if amount is none %} disabled{% endif %}>
        </form>
    </dd>
</dl>


<script>
    (function() {
        $('#postfinance-method').on('change', function() {
            reloadPaymentMethod({postfinance_method: $(this).val()});
        });
    })();
</script>
