{% from 'message_box.html' import message_box %}
{% from 'forms/_form.html' import form_rows %}

{%- macro render_access_dates(start_dt, end_dt, locale=none, separator='-') -%}
    {%- if start_dt.date() == end_dt.date() -%}
        {{ start_dt | format_date(format='medium', locale=locale) }}
        ({{ start_dt | format_time('short', locale=locale) }} - {{ end_dt | format_time('short', locale=locale) }})
    {%- else -%}
        {{ start_dt | format_datetime(format='d MMM yyy (H:mm)', locale=locale) }}
        {{ separator }}
        {{ end_dt | format_datetime(format='d MMM yyy (H:mm)', locale=locale) }}
    {%- endif -%}
{%- endmacro -%}

{%- macro render_security_policy(start_dt, end_dt) -%}
    {% trans dates=render_access_dates(start_dt, end_dt) -%}
        CERN's Security Policy requires you to provide the following
        additional data. The contents of this form will not be shared
        with the event organizers and will only be revealed upon request
        from CERN's Site Surveillance service.
        <br>
        <br>
        Once you have provided this data, you will be able to get
        a ticket which grants you access to the CERN site during this
        period: {{ dates }}
    {%- endtrans %}
{%- endmacro -%}

{%- macro render_identity_form(form) -%}
    {{ form_rows(form, orientation='horizontal', fields=('birth_date', 'nationality', 'birth_place')) }}
    <h2 class="vehicle-section-title"><i class="car-icon"></i>{% trans %}Vehicle Registration{% endtrans %}</h2>
    {{ form_rows(form, orientation='horizontal', fields=('by_car', 'license_plate')) }}

    <div class="car-plate-message weak-hidden">
        {% call message_box('warning', fixed_width=true) %}
            {% trans -%}
                If you are bringing your own car, please make sure you type in the
                <strong>correct</strong> license plate number! Otherwise <strong>
                you won't be able to enter the site!</strong>
            {%- endtrans %}
        {% endcall %}
    </div>
    <script>
        // toggle warning depending on checkbox
        $(document).on('change', '#by_car', ({target}) => {
            $('.car-plate-message').toggleClass('weak-hidden', !target.checked);
        });
    </script>
{%- endmacro -%}
