{% set registrations = regform.active_registrations | list | sort(attribute='id') %}
<div id='accesses-list'>
    <div class="title">
        <div class="text">
            <h2>{% trans %}CERN access requests state for{% endtrans %} {{ regform.title }}</h2>
        </div>
    </div>
    {% if error_count %}
        <div class="danger-message-box">
            <div class="message-box-content">
                <span class="icon"></span>
                <div class="message-text">
                    {% trans %}There are participants without granted access to CERN site due to an error. Check again later or contact support{% endtrans %}
                </div>
            </div>
        </div>
    {% elif warning_count %}
        <div class="warning-message-box">
            <div class="message-box-content">
                <span class="icon"></span>
                <div class="message-text">
                    {% trans %}There are participants without granted access to CERN site because their registration process is not compete (e.g. not approved, awaiting payment){% endtrans %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if registrations %}
        <table class="i-table-widget">
            <tbody>
                {% for registration in registrations %}
                    <tr id="registration-{{ registration.id }}">
                        <td class="i-table">
                            #{{ registration.friendly_id }}
                        </td>
                        <td class="i-table">
                            {{- registration.display_full_name -}}
                        </td>
                        <td class="i-table">
                            {% if registration.cern_access_request and registration.cern_access_request.is_active %}
                                {% if registration.cern_access_request.request_state == access_state.accepted %}
                                    <span class="i-label accept right" >
                                        {% trans %}access granted{% endtrans %}
                                    </span>
                                {% else %}
                                     <span class="i-label danger right" >
                                        {% trans %}error{% endtrans %}
                                     </span>
                                {% endif %}
                            {% else %}
                                {% if registration.state == registration_state.complete %}
                                     <span class="i-label danger right">
                                        {% trans %}error{% endtrans %}
                                     </span>
                                {% elif registration.state == registration_state.unpaid %}
                                    {% if regform.allow_unpaid %}
                                        <span class="i-label danger right">
                                            {% trans %}error{% endtrans %}
                                        </span>
                                    {% else %}
                                        <span class="i-label warning right">
                                            {% trans %}awaiting payment{% endtrans %}
                                        </span>
                                    {% endif %}
                                {% else %}
                                    <span class="i-label highlight right">
                                        {% trans %}registration pending{% endtrans %}
                                    </span>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="info-message-box">
            <div class="message-box-content">
                <span class="icon"></span>
                <div class="message-text">{% trans %}There are no registrations yet{% endtrans %}</div>
            </div>
        </div>
    {% endif %}
</div>


