{% from 'message_box.html' import message_box %}
{% from 'forms/_form.html' import form_header, form_rows, form_footer  %}

{% call message_box('info', fixed_width=true) %}
    <p>
        {% trans -%}
            To be able to access the CERN site, your registrants will have to provide some
            additional personal data.
        {%- endtrans %}
        <br>
        {% trans -%}
            Site access will be granted automatically once they have provided the requested data.
        {%- endtrans %}
    </p>
{% endcall %}

{{ form_header(form) }}
{{ form_rows(form) }}
{% call form_footer(form) %}
    <input type="submit" class="i-button highlight big" value="{% trans %}Send email and grant access{% endtrans %}">
    <input id="preview-email" class="i-button big" type="button" value="{%- trans %}Preview email{% endtrans -%}"
           data-href="{{ url_for('.registrations_preview_cern_access_email', regform) }}">
    <a class="i-button big" data-button-back>{% trans %}Cancel{% endtrans %}</a>
{% endcall %}
