{% extends 'layout/base.html' %}

{% from 'cern_access:_common.html' import render_access_dates %}
{% from 'forms/_form.html' import simple_form %}
{% from 'message_box.html' import message_box %}

{% block page_class %}meeting-page{% endblock %}

{% block title %}
    {% trans %}CERN site access{% endtrans %}
{% endblock %}

{% block subtitle %}
    {{ event.title }}
{% endblock %}

{% block content %}
    {% if access_request is none or not access_request.is_active %}
        <div class="info-message-box">
            <div class="message-box-content">
                <span class="icon"></span>
                <div class="message-text">
                    {% trans -%}
                        You have not been granted access to the CERN site yet.
                    {%- endtrans %}
                </div>
            </div>
        </div>
    {% elif not access_request.has_identity_info %}
        <div class="info-message-box">
            <div class="message-box-content">
                <span class="icon"></span>
                <div class="message-text">
                    {% trans dates=render_access_dates(start_dt, end_dt) -%}
                        CERN's Security Policy requires us to ask you to fill in
                        the following additional data. The contents of this form
                        will not be shared with the event organizers and will only be
                        revealed upon request from CERN's Site Surveillance service.
                        <br>
                        <br>
                        One you have provided this data, you will be able to download
                        a ticket which grants you access to the CERN site during this
                        period: {{ dates }}
                    {%- endtrans %}
                </div>
            </div>
        </div>
        {{ simple_form(form, back_button=false) }}
    {% else %}
        {% call message_box('success') %}
            {% trans code=access_request.reservation_code, dates=render_access_dates(start_dt, end_dt),
                     email=access_request.registration.email -%}
                Access to the CERN premises has been granted to you for the period: {{ dates }}.<br>
                Your ticket has been sent to your email address <strong>{{ email }}</strong>, but you can
                also download it using the button below.<br>
                <br>
                We invite you to print your ticket as showing it at the CERN gate will be required in
                order to enter the site.
                <br>
                If you cannot print the ticket before coming to CERN, you can also print one
                at the entrance using this registration code: <strong>{{ code }}</strong>.
            {%- endtrans %}
        {% endcall %}
        {% if not access_request.registration.is_ticket_blocked %}
            <div class="group right">
                {%- set download_ticket_url = url_for('event_registration.ticket_download', access_request.registration.locator.registrant) -%}
                <a href="{{ download_ticket_url }}" class="i-button accept icon-ticket">
                    {% trans %}Get ticket{% endtrans %}
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
