{% extends 'layout/base.html' %}

{% from 'cern_access:_common.html' import render_access_dates, render_security_policy %}
{% from 'message_box.html' import message_box %}

{% block page_class %}meeting-page{% endblock %}

{% block title %}
    {% trans %}CERN site access{% endtrans %}
{% endblock %}

{% block subtitle %}
    {{ event.title }}
{% endblock %}

{% block content %}
    {% if access_request is none or not access_request.is_active %}
        {% call message_box('info') %}
            {% trans -%}
                You have not been granted access to the CERN site yet.
            {%- endtrans %}
        {% endcall %}
    {% elif not access_request.has_identity_info %}
        {% if expired %}
            {% call message_box('error') %}
                {% trans -%}
                    This event has already finished.
                {%- endtrans %}
            {% endcall %}
        {% else %}
            {% call message_box('info') %}
                {{ render_security_policy(start_dt, end_dt) }}
            {% endcall %}
            <div id="registration-identity-data-form-container"></div>
            <script>
                setupEnterPersonalDataForm(
                    {{ access_request.registration.locator.registrant | tojson }},
                    false,
                    {{ countries | tojson }},
                    {{ accompanying | tojson }},
                    {{ accompanying_persons | tojson }}
                );
            </script>
        {% endif %}
    {% else %}
        {# checking is_ticket_blocked is enough for regular users but without the extra check
           a manager would see the download button anyway and might get confused #}
        {% set regform = access_request.registration.registration_form %}
        {% set ticket_available = not access_request.registration.is_ticket_blocked and
                                  (regform.ticket_on_event_page or regform.ticket_on_summary_page) %}
        {% call message_box('success') %}
            {% trans dates=render_access_dates(start_dt, end_dt) %}
                Access to the CERN premises has been granted to you for the period:<br><b>{{ dates }}</b><br>
            {% endtrans %}
            {% if email_ticket %}
                {% trans email=access_request.registration.email %}
                    Your access ticket has been sent to your email address <strong>{{ email }}.</strong>
                    If you cannot print the access ticket before coming to CERN, you can also print one
                    at the entrance using the registration code.<br>
                {% endtrans %}
            {% endif %}
            {% if ticket_available %}
                {% trans %}
                    You can download the ticket using the button below.<br>
                {% endtrans %}
            {% endif %}
            {% trans code=access_request.reservation_code %}
                <br>Registration code: <strong>{{ code }}</strong>.
            {% endtrans %}
        {% endcall %}
        {% if ticket_available %}
            <div class="group right">
                {%- set download_ticket_url = url_for('event_registration.ticket_download', access_request.registration.locator.registrant) -%}
                <a href="{{ download_ticket_url }}" class="i-button accept icon-ticket">
                    {% trans %}Get access ticket{% endtrans %}
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
