{% extends 'events/display/conference/base.html' if event.type == 'conference' else 'layout/meeting_page_base.html' %}

{% from 'forms/_form.html' import simple_form %}
{% from 'message_box.html' import message_box %}

{% block title %}
    {% trans %}Additional data for your CERN access badge{% endtrans %}
{% endblock %}

{% block content %}
    {% if access_request is none or not access_request.is_active %}
        <div class="info-message-box">
            <div class="message-box-content">
                <span class="icon"></span>
                <div class="message-text">
                    {% trans -%}
                        You have not been granted access to the CERN site yet.
                    {%- endtrans %}
                </div>
            </div>
        </div>
    {% elif not access_request.has_identity_info %}
        <div class="info-message-box">
            <div class="message-box-content">
                <span class="icon"></span>
                <div class="message-text">
                    {% trans -%}
                        CERN's Security Policy requires us to ask you to fill in
                        the following additional data. The contents of this form
                        will not be shared with the event organizers and will only be
                        revealed upon request from CERN's Site Surveillance service.
                    {%- endtrans %}
                </div>
            </div>
        </div>
        {{ simple_form(form, back_button=false) }}
    {% else %}
        {% call message_box('success') %}
            {% trans code=access_request.reservation_code -%}
                We have received your data and sent you an email with the ticket.<br>
                You may also download it using the button below.<br>
                <br>
                If you cannot print the ticket before coming to CERN, you can print a ticket
                at the entrance using this registration code <strong>{{ code }}</strong>.
            {%- endtrans %}
        {% endcall %}
        {% if not access_request.registration.is_ticket_blocked %}
            <div class="group right">
                {%- set download_ticket_url = url_for('event_registration.ticket_download', access_request.registration.locator.registrant) -%}
                <a href="{{ download_ticket_url }}" class="i-button accept icon-ticket">
                    {% trans %}Get ticket{% endtrans %}
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
