{% extends 'forms/base_widget.html' %}

{% block html %}
    <div class="page-content">
        {% if field.choices %}
            <table id="regforms-list" class="i-table-widget">
                <thead>
                    <tr>
                        <th>{% trans %}Registration form{% endtrans %}</th>
                        <th>{% trans %}Include{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for subfield in field %}
                    <tr>
                        <td>{{ subfield.label }}</td>
                        <td>
                            <label class="switch">
                                {{ subfield() }}
                                <span class="switch-label" data-on="Yes" data-off="No"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="info-message-box">
                <div class="message-box-content">
                    <span class="icon"></span>
                    <div class="message-text">{% trans %}There are no registration forms for this event{% endtrans %}</div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
