{% extends 'events/registration/emails/base_registration.html' %}
{% block subject_name %}{% endblock %}
{% block subject_message -%}
    CERN access ticket
{%- endblock %}

{% block registration_header -%}
    {% set event = registration.registration_form.event %}
    <p>Dear {{ registration.full_name }},</p>
    <p>
        {% block registration_header_text %}
            You have been granted access to the CERN site during the event.
            You can find your ticket attached to this email.
        {% endblock %}
    </p>
{%- endblock %}
