{% extends 'events/registration/emails/base_registration_details.html' %}
{% block subject_name %}{% endblock %}
{% block subject_message -%}
    CERN access ticket
{%- endblock %}

{% block registration_header -%}
    {% set event = registration.registration_form.event_new %}
    <p>Dear {{ registration.full_name }},</p>
    <p>
        {% block registration_header_text %}
            You have been granted access to CERN site during the event. Please find your ticket in the attachment.
        {% endblock %}
    </p>
{%- endblock %}
