{% extends 'events/requests/event_request_details.html' %}
{% from 'message_box.html' import message_box %}

{% set link_start_vc -%}
    <a href="{{ url_for('vc.manage_vc_rooms', event) }}">
{%- endset %}
 {% set link_start_event_settings -%}
    <a href="{{ url_for('event_management.settings', event) }}">
{%- endset %}
{% set link_end -%}
    </a>
{%- endset %}

{% block content %}
    {% if not user_authorized %}
        {% call message_box('warning') %}
            {% trans -%}
                Unfortunately you are not allowed to use this service.
            {%- endtrans %}
        {% endcall %}
    {% else %}
        {% if not request_accepted and not within_working_hours %}
            {% call message_box('warning') %}
                {% trans -%}
                    This event starts out of working hours, so it is not possible
                    to request assistance.
                    {{ link_start_event_settings }}Manage event settings{{ link_end }} or contact
                    <a href="mailto:videoconference-support@cern.ch">videoconference-support@cern.ch</a>.
                {%- endtrans %}
            {% endcall %}
        {% elif not request_accepted and not has_vc_rooms %}
            {% call message_box('warning') %}
                {% trans -%}
                    This event doesn't have any videoconference room attached,
                    so it is not possible to request assistance.
                    {{ link_start_vc }}Manage videoconference rooms{{ link_end }}.
                {%- endtrans %}
            {% endcall %}
        {% elif not request_accepted and not has_vc_capable_rooms %}
            {% call message_box('warning') %}
                {% trans -%}
                    None of the physical meeting rooms attached to this event have videoconference
                    capabilities, so it is not possible to request assistance.
                    {{ link_start_event_settings }}Manage event settings{{ link_end }}.
                {%- endtrans %}
            {% endcall %}
        {% elif not request_accepted and not has_vc_rooms_attached_to_capable %}
            {% call message_box('warning') %}
                {% trans -%}
                    None of the videoconference rooms created are linked to a room with
                    videoconference capabilities, so it is not possible to request assistance.
                    {{ link_start_vc }}Manage videoconference rooms{{ link_end }}.
                {%- endtrans %}
            {% endcall %}
        {% else %}
            {% if not request_accepted %}
                {% call message_box('info') %}
                    {% trans -%}
                        Requesting videoconference assistance will put you in contact with
                        the videconference support service and one of the operators will start
                        your meeting for you (please note that by default, this will be done
                        remotely. If you want to have an operator physically present for the
                        start of your meeting, please send a mail to
                        <a href="mailto:videoconference-support@cern.ch">videoconference-support@cern.ch</a>).
                    {%- endtrans %}
                {% endcall %}
            {% endif %}
            {{ super() }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block warnings %}
    {{ super() }}
    {% if request_accepted %}
        {% if not has_vc_rooms %}
            {% call message_box('error') %}
                {% trans -%}
                    This event doesn't have any videoconference room attached
                    so assistance won't be provided.
                    {{ link_start_vc }}Manage videoconference rooms{{ link_end }}.
                {%- endtrans %}
            {% endcall %}
        {%  endif %}
        {% if not has_vc_capable_rooms %}
             {% call message_box('error') %}
                {% trans -%}
                    This event doesn't have any physical meeting room attached
                    with videoconference capabilities so assistance won't be provided.
                    {{ link_start_event_settings }}Manage event settings{{ link_end }}.
                {%- endtrans %}
            {% endcall %}
        {% endif %}
        {% if not within_working_hours %}
            {% call message_box('error') %}
                {% trans -%}
                    This event starts out of working hours so assistance won't be provided.
                    {{ link_start_event_settings }}Manage event settings{{ link_end }}.
                {%- endtrans %}
            {% endcall %}
        {% endif %}
    {% endif %}
{% endblock %}
