{% extends 'overview/base.html' %}
{% block title %}Videoconference assistance{% endblock %}

{% macro result_group_title(key) %}
    {{ key | format_human_date(format='full') | title }}
{% endmacro %}

{% macro result_group_entries(items) %}
    <tr class="result-group-header">
        <td></td>
        <td>
            <div class="title">
                {% trans %}Room{% endtrans %}
            </div>
        </td>
        <td>
            <div class="title">
                {% trans %}Event{% endtrans %}
            </div>
        </td>
        <td>
            <div class="title">
                {% trans %}VC room{% endtrans %}
            </div>
        </td>
        <td>
            <div class="title">
                {% trans %}Comment{% endtrans %}
            </div>
        </td>
    </tr>
    {% for req, obj, start_time in items %}
        {{ request_entry(req, obj, start_time) }}
    {% endfor %}
{% endmacro %}

{% macro request_entry(req, obj, start_time) %}
    <tr class="result-group-entry">
        <td class="entry-time">
            <a class="discreet-link" href="{{ url_for('requests.event_requests_details', req) }}">
                {{ start_time | format_time('HH:mm') }}
            </a>
        </td>
        <td class="entry-location">
        {% if obj.room_name or obj.venue_name %}
            <span class="room">
                {{ obj.room_name }}
            </span>
            {% if obj.venue_name %}
                <span class="location">
                    ({{ obj.venue_name }})
                </span>
            {% endif %}
        {% else %}
            <i class="icon-warning"
               title="{% trans %}This event seems to have no location associated{% endtrans %}">
            </i>
        {% endif %}
        </td>
        <td class="request-event">
            <a href="{{ req.event.url }}">
                {{ req.event.title }}
            </a>
        </td>
        <td class="entry-vc-room">
            {% if obj.vc_room_associations %}
                {% for obj_vc_room in obj.vc_room_associations %}
                    <a class="discreet-link"
                       data-href="{{ url_for('vc.manage_vc_rooms_modify', obj_vc_room) }}"
                       data-ajax-dialog
                       data-reload-after>
                        {{- obj_vc_room.vc_room.name -}}
                    </a>
                    {{- "," if not loop.last -}}
                {% endfor %}
            {% else %}
                <i class="icon-warning"
                   title="{% trans %}This event seems to have no VC rooms associated{% endtrans %}">
                </i>
            {% endif %}
        </td>
        <td class="request-comment">
            {{ req.data.comment }}
        </td>
    </tr>
{% endmacro %}
