{% from 'message_box.html' import message_box %}
{% if has_capable_vc_room_attached and not request_accepted %}
    {% call message_box('highlight') %}
        {% set link_start -%}
            <a href="{{ url_for('requests.event_requests_details', event, type=name) }}">
        {%- endset %}
        {% set link_end -%}
            </a>
        {%- endset %}
        {% trans -%}
            If you are not familiar with the videoconference equipment in the physical
            meeting room, you can {{ link_start }}request assistance{{ link_end }} or contact
            <a href="mailto:videoconference-support@cern.ch">videoconference-support@cern.ch</a>.
        {%- endtrans %}
    {% endcall %}
{% endif %}
