{% from 'message_box.html' import message_box %}
{% if has_vc_room_attached and not request_accepted %}
    {% call message_box('highlight') %}
        {% set link_start -%}
            <a href="{{ url_for('requests.event_requests_details', req) }}">
        {%- endset %}
        {% set link_end -%}
            </a>
        {%- endset %}
        {% trans -%}
            Videconference rooms have been added with no assistance requested,
            {{ link_start }}would you like to request assistance{{ link_end }}?
        {%- endtrans %}
    {% endcall %}
{% endif %}
