@import 'base/palette';

$header-bg-color: #006699;

@import 'themes/indico';

div.event-header {
   padding-left: 220px;
}

a.logo {
    position: absolute;
    left: 26px;
    top: 35px;
    display: block;
    width: 170px;
    height: 54px;
    background: #006699 url('/static/plugins/themes_cern/openlab_logo.png') left top no-repeat;
}
